body{
    font-size: 67.5%;
    font-family: Tahoma, Geneva, sans-serif;
    background: white url(Assets/andre-klimke-qCtoja13wLw-unsplash.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size:100% 100%;

}


a:hover {
    color: lightblue;
    text-decoration: underline;
}
.wrapper{
    color:white;
    padding: 0 1.5em 0 1.5em;
}

div.clear {
    clear: both;
    font-size: 1%;
}
/****column layout*****/
.layout {
    column-count:1;
    break-inside: avoid;
}

#columnnbreak{
    break-before: always;
}
/************page head**************/
header{
    margin: 0 0 0 0;
    height: 2.0em;
    padding: 0.5em 0 1.5em 0.1em;
    border-bottom: white solid 1px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,65,1) 61%, rgba(0,255,145,1) 100%);
    

}


header h1 {
font-family: Tahoma, Geneva, sans-serif;
color: yellow;
font-size: 1.5em;
letter-spacing: -0.025em;
text-align:center;
padding:0;
margin:auto;

}

header ul {
    margin: 0;
    padding:0 ;
    list-style: none;
    text-align: left;
}

header ul li{
    display:inline-block;
    padding:0 0.7em 0 0;
    margin: 0;

    
}

header ul img{
    height: 32px;
    width: 32px;
    border-radius: .25em;
}



header ul li a img:hover {
    color: #C64322;
    background-color: rgba(252,251,243,0.75);
}

header ul li::before {
    padding-right: 0.7em;
}
/************Nav bars***********************/
nav{
    color: white;
    font-size: 1.7em;
    letter-spacing: 0.04em;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      );
    height: 155px;
    text-align: center;
    padding-top:0.5em;
    padding-bottom:0.5em;
    border-bottom: 1px solid white;
    
}

nav ul{

    list-style: none;
    margin:auto;
}

nav ul li{
    display: inline-block;
    padding:0 0 0 0;
    margin: 0;
}

nav ul li:after {
    padding:0 0.5em 0 1.0em;
    content: '|';
}

nav li:last-child::after {
    display: none
  }

nav ul li a img{
    height: 32px;
    width:32px;
    vertical-align:middle;
    padding-right:1.0em
}
nav img{
    border-radius: 5%;
    height:150px;
 }

.center{
 display:inline-block;
 width: 50%;
 height:97%;
 
 
 }

.right{
    float:right;
    width:25%;
    text-align:right;
}

.left{
    float:left;
    width: 25%;
    text-align: left;
    
}
.announcement{
    width: 100%;
    height:100%;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(Assets/young_hops.PNG);
    border-radius: 10px;
    border: 1.5px solid orange;
    
}    

#announce-text{
        font-size: 1.75em;
    }

#sub-text{
    color:yellow;
    font-weight: bold;
}
/*****Side bar***********/
 .sidebar {
    width: 15%;
    float: left;
    position: relative;
    /*display: block;*/
    background-color:black;
    margin:auto;
    border-right: #2BA967 solid 4px;
    border-bottom: #2BA967 solid 2px;
        
}

.section_title{
    font-size: 1.6em;
    color:yellow;
}

/***main section and component elements*/

section #main {
    background-color: rgba(252,251,243,0.7);
    margin: 0 0.5em 2.0em;
    padding: 1.5em 0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
}

section div.card {
    float:right;
    position: relative;
    width: 25%;
    margin: 0.5em 2.0em 2.0em 0.5em;
    background-color:black;
    border: #ccc solid 1px;
    border-radius: 0.6em;
    padding-bottom: 2.0em;
}


.hopselect{
    width: 100%;
    height:25em;
}

.card_title {
    font-family: Tahoma, Geneva, sans-serif;
    color:whitesmoke;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -0.025em;
    width:80%;
    background-color:rgba(0, 0, 0, 0.5);
    border: 1.5px solid transparent;
    border-radius: .25em;
    display: inline-block;

       
}

/*footer sections*/

footer {
    background-color: #40362f;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 1.5em 2.0em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,65,1) 61%, rgba(0,255,145,1) 100%);
}

footer ul#menuFooter {
    display:inline-block;
    list-style: none;

    margin: 0 0 0 0.6em;
    padding:0;
    
}

footer ul li{
    display:inline-block;
    padding:0 0.7em 0 0;
    margin: 0;
    
}

footer ul li::before {
    content: "| ";
    padding-right: 0.7em;
   

}

/*Misc Stuff*/
button {
    color:black;
    background-color: #FFF;
    margin: 1.0em .75em 0 0;
    padding: 0.2em 0.5em;
    border: 2px solid blue;
    float:right;
    
}

button:hover {
    background-color: #cde75a;
    border: 1px solid rgb(0, 255, 255);
    color:brown;
}

.light_anchor{
    color:yellowgreen;
    text-decoration: none;
}

.heavy_anchor{
    color:yellow;
    text-decoration: none;
}